


<head>
    <link href="~/StyleSheet/Design.css" rel="stylesheet" />
</head>




<div class=" mainsection">
    <h1>For Chris Nelson</h1>
    <img class="st" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTS_XTfBRO6hvyfQvZxPvHHGoGg_OBaGVI3vtsKI-S_sz_NaZjK" />
    <form action="../Home/Person" method="post">
        <label for="i">Search by Person</label>
        <input type="number" name="i" class="textbox" placeholder="Enter a number" />
        <input type="submit" name="submit" class="submitbutton" value="Get Person" />

    </form>
    <form action="/Home/Planet" method="post">

        <label for="i">Search by Planet</label>
        <input type="number" name="i" class="textbox" placeholder="Enter a number" />
        <input type="submit" name="submit" class="submitbutton" value="Get Planet" />


    </form>

</div>

