body {
}

.mainsection{
    text-align:center;
     width : auto; 
     margin-top: 100PX; 
}
.submitbutton{
    border: 1PX solid #0094ff;
    background: none;
    padding: 10px;
    font-size: 20px;
    font-family:Garamond;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
   

}
.subitbutton:hover{

}
.textbox {
    border: 1PX solid;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    border: 1PX solid #0094ff;
}
.bottom{
    text-align: center;
    width: 100%;
}